{
	"env": {
		"browser": true,
		"es2017": true
	},
	"extends": ["eslint:recommended", "prettier"],
	"plugins": ["prettier"],
	"globals": {
		"sap": true,
		"jQuery": true,
		"QUnit": true,
		"sinon": true
	},
	"rules": {
		"prettier/prettier": ["error"]
	}
}
